<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.digi.controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationServlet</servlet-name>
        <servlet-class>com.digi.controller.VerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.digi.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerifyServlet</servlet-name>
        <servlet-class>com.digi.controller.EmailVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.digi.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.digi.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>com.digi.controller.AddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCookiesServlet</servlet-name>
        <servlet-class>com.digi.controller.SetCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCookiesServlet</servlet-name>
        <servlet-class>com.digi.controller.GetCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>com.digi.controller.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>com.digi.controller.DeleteAccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerifyServlet</servlet-name>
        <url-pattern>/email-verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationServlet</servlet-name>
        <url-pattern>/verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCookiesServlet</servlet-name>
        <url-pattern>/set-cookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCookiesServlet</servlet-name>
        <url-pattern>/get-cookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/delete-cookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/delete-account</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/loginPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>